<div class="page">
  <div class="welcome">
    <img src="branding/crest.png" alt="" class="welcome-watermark" aria-hidden="true">
    <h1>Hola, {{ auth.user()?.name }} 👋</h1>
    <p>¿Qué quieres hacer hoy?</p>
  </div>

  <div class="shortcuts">
    <a routerLink="/matches" class="shortcut-card">
      <mat-icon>sports_soccer</mat-icon>
      <span>Partidos</span>
    </a>
    <a routerLink="/players" class="shortcut-card">
      <mat-icon>groups</mat-icon>
      <span>Plantilla</span>
    </a>
    <a routerLink="/stats" class="shortcut-card">
      <mat-icon>bar_chart</mat-icon>
      <span>Estadísticas</span>
    </a>
  </div>
</div>
